/*@import "normalize";*/
h1 {
  font-family: 'Spectral SC';
  font-size: 4em; }

h2 {
  font-size: 3em;
  text-align: center;
  font-family: 'Spectral SC';
  padding-top: 60px;
  padding-bottom: 60px;
  font-style: normal; }

h3 {
  font-family: 'Roboto';
  margin-top: 0px;
  font-style: normal; }

h4 {
  font-weight: bold; }

p {
  font-family: 'Roboto';
  font-size: 1.3em;
  font-weight: lighter; }

.link-list {
  list-style-type: none;
  padding: 0;
  margin: 0; }

@media (max-width: 1200px) {
  .navbar-header {
    float: none; }
  .navbar-left, .navbar-right {
    float: none !important; }
  .navbar-toggle {
    display: block; }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }
  .navbar-collapse.collapse {
    display: none !important; }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px; }
  .navbar-nav > li {
    float: none; }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }
  .collapse.in {
    display: block !important; } }

.nav li a.active {
  color: red; }

.navbar {
  background: 0, 0, 0, 0.4;
  border: 0px; }

.intro-text {
  font-family: 'Roboto';
  font-size: 1.7em;
  font-style: normal; }

.map {
  width: 100%;
  height: 500px; }

.row {
  padding-bottom: 40px; }

footer {
  background-color: #f8f8f8;
  height: 200px;
  text-align: center; }
  footer .footer-info {
    padding-top: 75px; }

.deep-link {
  font-style: normal;
  font-size: 1.6em;
  font-family: 'Roboto';
  font-weight: 100; }

img {
  width: 100%; }

/*
*
*	HERO BACKGORUNDS
*
*/
.home-hero {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/home_hero.jpg") center center no-repeat;
  width: 100%;
  height: 600px;
  background-size: cover;
  color: white; }
  .home-hero h1 {
    display: block;
    text-align: center;
    padding-top: 250px;
    width: auto;
    margin: 0px auto;
    font-size: 5em; }
  .home-hero hr {
    width: 20%;
    height: 5px;
    background-color: white; }
  .home-hero p {
    text-align: center;
    font-size: 2em;
    font-family: 'Roboto';
    font-weight: 200; }

.trust-hero {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/trust_hero.jpg") center center no-repeat;
  width: 100%;
  height: 600px;
  background-size: cover;
  color: white; }
  .trust-hero h1 {
    display: block;
    text-align: center;
    padding-top: 250px;
    width: auto;
    margin: 0px auto;
    font-size: 5em; }
  .trust-hero hr {
    width: 20%;
    height: 5px;
    background-color: white; }
  .trust-hero p {
    text-align: center;
    font-size: 2em;
    font-family: 'Roboto';
    font-weight: 200; }

.location-hero {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/location_hero.jpg") center center no-repeat;
  width: 100%;
  height: 600px;
  background-size: cover;
  color: white; }
  .location-hero h1 {
    display: block;
    text-align: center;
    padding-top: 250px;
    width: auto;
    margin: 0px auto;
    font-size: 5em; }
  .location-hero hr {
    width: 20%;
    height: 5px;
    background-color: white; }
  .location-hero p {
    text-align: center;
    font-size: 2em;
    font-family: 'Roboto';
    font-weight: 200; }

.history-hero {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/history_hero.jpg") center center no-repeat;
  width: 100%;
  height: 600px;
  background-size: cover;
  color: white; }
  .history-hero h1 {
    display: block;
    text-align: center;
    padding-top: 250px;
    width: auto;
    margin: 0px auto;
    font-size: 5em; }
  .history-hero hr {
    width: 20%;
    height: 5px;
    background-color: white; }
  .history-hero p {
    text-align: center;
    font-size: 2em;
    font-family: 'Roboto';
    font-weight: 200; }

.wildlife-hero {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/wildlife_hero.jpg") center center no-repeat;
  width: 100%;
  height: 600px;
  background-size: cover;
  color: white; }
  .wildlife-hero h1 {
    display: block;
    text-align: center;
    padding-top: 250px;
    width: auto;
    margin: 0px auto;
    font-size: 5em; }
  .wildlife-hero hr {
    width: 20%;
    height: 5px;
    background-color: white; }
  .wildlife-hero p {
    text-align: center;
    font-size: 2em;
    font-family: 'Roboto';
    font-weight: 200; }

.water-hero {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/water_hero.jpg") center center no-repeat;
  width: 100%;
  height: 600px;
  background-size: cover;
  color: white; }
  .water-hero h1 {
    display: block;
    text-align: center;
    padding-top: 250px;
    width: auto;
    margin: 0px auto;
    font-size: 5em; }
  .water-hero hr {
    width: 20%;
    height: 5px;
    background-color: white; }
  .water-hero p {
    text-align: center;
    font-size: 2em;
    font-family: 'Roboto';
    font-weight: 200; }

.news-hero {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/news_hero.jpg") center center no-repeat;
  width: 100%;
  height: 600px;
  background-size: cover;
  color: white; }
  .news-hero h1 {
    display: block;
    text-align: center;
    padding-top: 250px;
    width: auto;
    margin: 0px auto;
    font-size: 5em; }
  .news-hero hr {
    width: 20%;
    height: 5px;
    background-color: white; }
  .news-hero p {
    text-align: center;
    font-size: 2em;
    font-family: 'Roboto';
    font-weight: 200; }

.about {
  background-color: #f8f8f8; }
  .about .about-container .about-img {
    width: 100%; }

.where {
  background-color: #f8f8f8; }
  .where .map {
    margin-bottom: 40px; }

.wildlife img {
  width: 100%; }

.objectives .objectives-title {
  text-align: center;
  font-family: 'Roboto';
  font-style: normal; }

.objectives .objectives-list li {
  padding-top: 40px;
  font-weight: 200;
  font-size: 1em; }

.hazards-list li {
  padding-top: 20px;
  font-weight: 200;
  font-size: 1.5em; }

.polycell {
  max-height: 300px; }

.dropdown:hover .dropdown-menu {
  display: block; }

.dropdown-menu {
  margin-top: 0px; }

strong {
  font-size: 1.5em; }
