@import "normalize";
@import "components";

/*
*
*	HERO BACKGORUNDS
*
*/

.home-hero {
	background:
	linear-gradient(
	  rgba(0, 0, 0, 0.3),
	  rgba(0, 0, 0, 0.3)
	), url('../img/hct1.png') center center no-repeat;
	@include hero-section();
}

.trust-hero {
	background:
	linear-gradient(
	  rgba(0, 0, 0, 0.3),
	  rgba(0, 0, 0, 0.3)
	), url('../img/trust_hero.png') center center no-repeat;
	@include hero-section();
}

.location-hero {
	background:
	linear-gradient(
	  rgba(0, 0, 0, 0.3),
	  rgba(0, 0, 0, 0.3)
	), url('../img/location_hero.png') center center no-repeat;
	@include hero-section();
}

.history-hero {
	background:
	linear-gradient(
	  rgba(0, 0, 0, 0.3),
	  rgba(0, 0, 0, 0.3)
	), url('../img/history_hero.png') center center no-repeat;
	@include hero-section();
}

.wildlife-hero {
	background:
	linear-gradient(
	  rgba(0, 0, 0, 0.3),
	  rgba(0, 0, 0, 0.3)
	), url('../img/wildlife_hero.png') center center no-repeat;
	@include hero-section();
}

.water-hero {
	background:
	linear-gradient(
	  rgba(0, 0, 0, 0.3),
	  rgba(0, 0, 0, 0.3)
	), url('../img/water_hero.png') center center no-repeat;
	@include hero-section();
}

.about {
	background-color: #f8f8f8;
	.about-container {
		.about-img {
			width: 100%;
		}
	}
}

.where {
	background-color: #f8f8f8;
	.map {
		margin-bottom: 40px;
	}
}

.wildlife {
	img {
		width: 100%;
	}
}

.objectives {
	.objectives-title {
		text-align: center;
		font-family: 'Roboto';
		font-style: normal;
	}
	.objectives-list {
		li {
			padding-top: 40px;
		}
	}
}


.polycell {
	max-height: 300px;
}
