@import "normalize";
@import "fonts";
@import "components";

/*
*
*	HERO BACKGORUNDS
*
*/

.home-hero {
	background: 
	linear-gradient(
	  rgba(0, 0, 0, 0.3),
	  rgba(0, 0, 0, 0.3)
	), url('../img/hct1.png') center center no-repeat;
	@include hero-section();
}

.trust-hero {
	background: 
	linear-gradient(
	  rgba(0, 0, 0, 0.3),
	  rgba(0, 0, 0, 0.3)
	), url('../img/hct2.png') center center no-repeat;
	@include hero-section();
}

.about {
	.about-container {
		.about-img {
			width: 100%;
		}
	}
}

.wildlife {
	img {
		width: 100%;
	}
}

.objectives {
	.objectives-title {
		text-align: center;
		font: 'mission_gothiclight';
		font-style: normal;
	}
	.objectives-list {
		li {
			padding-top: 40px;
		}
	}
}

