{% load staticfiles %}
{% load tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>HCT | {% block title %}{% endblock %}</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto|Spectral+SC" rel="stylesheet">

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://use.fontawesome.com/419da6d1a5.js"></script>

  <script type="text/javascript">
    $('.dropdown-toggle').click(function() {
        var location = $(this).attr('href');
        window.location.href = {% url 'wildlife' %};
        console.log("THIS" + location)
    });
  </script>

  {% block head %}
  {% endblock %}
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav center" href="{% url 'index' %}">Hobson's Conduit Trust</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="{% if request.resolver_match.url_name == 'index' %}active{% endif %}" href="{% url 'index' %}">Home</a>
                    </li>
                    <li>
                        <a class="{% if request.resolver_match.url_name == 'location' %}active{% endif %}" href="{% url 'location' %}">Location</a>
                    </li>
                    <li>
                        <a class="{% if request.resolver_match.url_name == 'wildlife' %}active{% endif %}" href="{% url 'wildlife' %}">Wildlife</a>
                    </li>
                    <li>
                        <a class="{% if request.resolver_match.url_name == 'water' %}active{% endif %}" href="{% url 'water' %}">Water</a>
                    </li>
                    <li>
                        <a class="{% if request.resolver_match.url_name == 'history' %}active{% endif %}" href="{% url 'history' %}">History</a>
                    </li>
                    <li>
                        <a class="{% if request.resolver_match.url_name == 'trust' %}active{% endif %}" href="{% url 'trust' %}">Trust</a>
                    </li>
                    <!-- <li>
                        <a class="{% if request.resolver_match.url_name == 'news' %}active{% endif %}" href="{% url 'news' %}">News</a>
                    </li> -->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
  {% block content %}
  {% endblock %}

  <footer>
    <div class="container">
      <div class="footer-info col-md-4 col-md-offset-4">
        <p >Hobson's Conduit Trust </p>
        <p >&copy; {% get_year %}</p>
      </div>
    </div>
  </footer>
</body>
</html>
