{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	Conduit Page
{% endblock %}

{% block content %}
<section class="hero">
	<div class="trust-hero">
		<h1>The Conduit</h1>
		<hr>
		<p><em>The water supply and histroy of the conduit<em></p>
	</div>
</section>
<section class="conduit-history">
	<div class="container">
		<h2>History of the Conduit</h2>
		<hr>
		<div class="row">
			<div class="col-md-6">
				<h3>Sub Heading</h3>
				<p class="body-text">Some content here </p>
				<h3>Sub Heading</h3>
				<p class="body-text">Some more content here </p>
			</div>
			<div class="col-md-6">
				<img src="http://via.placeholder.com/300x300">
			</div>
		</div>
	</div>
</section>
<section class="conduit-water">
	<div class="container">
		<h2>The Conduit Water</h2>
		<hr>
		<div class="row">
			<div class="col-md-6">
				<h3>Water Quality</h3>
				<p class="body-text">Water quality and sufficient flows need to be maintained to preserve biodiversity throughout the stream corridor, the water supply to the University Botanic Garden and to Emmanuel and Christ’s Colleges and to maintain a pleasing environment along the brook.</p>

				<p class="body-text">Water quality and the quantity of water flowing through Hobson’s Brook and Conduit varies on a seasonal basis. The principal challenges arise from water abstraction, climate change, building developments around the upper reaches, and the intensification of agricultural practice. The abstraction of water from the chalk aquifer to supply a rising local population presents particular challenges for the Environment Agency and water supply companies.</p>
			</div>
			<div class="col-md-6">
				<img src="http://via.placeholder.com/300x300">
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h3>Water Flow</h3>
				<p class="body-text">The main concern at present is the reduction in flow from the water source at Nine Wells springs over the past half-century. This has led to stagnation, pollution, and a lower level of dissolved oxygen in the water, with consequent reduced capacity to support aquatic life. For example, poor water flow at Nine Wells limits the growth of aquatic wildlife including rare species of flatworms and caddisflies. Further downstream water levels at the Conduit Head restricts the opportunity of having water flowing down the Trumpington Street runnels. The Environment Agency recommends a flow rate of at least 20 litres/second, at Nine Wells springs, but in the summer it can fall below this level.</p>
			</div>
			<div class="col-md-6">
				<img src="http://via.placeholder.com/300x300">
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h3>Analysing the water</h3>
				<p class="body-text">Some water quality indicators including pH, Electrical Conductivity and dissolved Oxygen can be measured in the field using ‘dip & read’ meters.Other more complex water quality indicators such as nitrate, phosphate and ammonium require laboratory analyses.</p>

				<p class="body-text">The chemical and physical monitoring of water quality is accomplished through field measurements and laboratory analysis. Monitoring of the nitrate concentration in the water has occasionally shown this to be above the maximum recommended. However, observation of plant and animal life in the brook provides a very good indication of the natural habitat. Invertebrate fauna and aquatic flora contribute more to species-richness than do fishes or riparian flora. Sadly, there has been a decline in species richness and abundance over past years linked to low water flow in the summer months. Nevertheless, Bullhead and three-spined Stickleback are still to be found within the water course, and frogs toads, grass snakes, kingfishers, mallard ducks and moorhen dwell along the margins, whilst various species of bats are frequently seen at dusk.</p>
			</div>
			<div class="col-md-6">
				<img src="http://via.placeholder.com/300x300">
			</div>
		</div>
	</div>
</section>
{% endblock %}