{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	History Page
{% endblock %}

{% block content %}
<section class="hero">
	<div class="trust-hero">
		<h1>Hobson's Conduit Trust</h1>
		<hr>
		<p><em>The history of the conduit and trust<em></p>
	</div>
</section>

<section class="health">
	<div class="container">
		<h2>Public Health</h2>
		<div class="row">
			<div class="col-md-9">
				<p class="intro-text">Cambridge - 'the filthiest town in Europe'. So said the internationally experienced scholar Erasmus, Professor of Divinity at Queens' College  1510- 1515, who fled to Landbeach and Waterbeach because of plague and disease.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<img src="{% static 'img/history-tomas-hobson.jpg' %}">
			</div>
			<div class="col-md-6">
				<p class="body-text">For centuries Cambridge town squalor contrasted with Cambridge College grandeur.  Although the town was founded on a river there was limited drinking water.  From the 1500’s onwards teaching of medicine was carried out in Cambridge, building our first public hospital in 1766, and a place of pioneering research in understanding of infectious diseases, but the city itself had notoriously poor public health up to and throughout the 19th Century.</p>
				<p class="body-text">The pressures created by economic success in Cambridge are not new.  With the shift of focus from Roman development on Castle Hill to the low-lying areas around and behind the Quayside, the hythes along the river bank and the town mills, the commercial and residential activity was concentrated into a small area between the river and the King's Ditch.</p>
				<p class="body-text">Until the Enclosure Acts (link) in the early 1800s the town was hemmed in by the common fields that lay outside the ditch.  The mixture of housing with craftsmen, foundries and shops for food and drink supply, operating from ground floors and basements, produced noise and smells in the absence of formal system for waste and sewage disposal.  Clearance of land in the town for development of the Colleges squeezed the people in the town into an increasingly overcrowded and insalubrious area.</p>
			</div>
		</div>
	</div>
</section>

<section class="population">
	<div class="container">
		<h2>Population</h2>
		<div class="row">
			<div class="col-md-6">
				<p class="body-text">The population grew from around 5,000, in the early 1600’s, to 9,000 at the end of the 18th, and 25,000 by the early 19th Century with an ever increasing requirement for housing.</p>
				<p class="body-text">These maps show the area of Cambridge between Downing Street (Bird Bolt Lane on map 1), Corn Exchange Street (Slaughterhouse Lane on map 1) and Petty Cury (at the top of each map).  Figure 1 represents the streets and yards in that area before 1800 and the number of houses therein and map 2 the same area after 1800 showing the extent of building in the town during that time. Note the route of the King’s Ditch on map 1.</p>
			</div>
			<div class="col-md-6">
				<img class="img-responsive" src="{% static 'img/history-population-map.jpg' %}">
				<cite>Lion Yard - H. Bosanquet 1974 Cambridgeshire Collection</cite>
			</div>
		</div>
	</div>
</section>

<section class="drinking-water">
	<div class="container">
		<h2>Drinking Water</h2>
		<div class="row">
			<div class="col-md-6">
				<p class="body-text">Unless your family had access to water from a well, there were only three public water sources: a tap at Trinity College gatehouse, with water conveyed from a monastic source off Madingley Road, the water from Nine Wells via Hobson's Conduit in the Market Square, and wells beside church burial grounds as at St Bene’t’s church.</p>
				<p class="body-text">Hobson's Conduit was a vital source of drinking water to the city.  The first Addenbrooke's Hospital had a supply piped from the conduit soon after opening. There were no permanent public baths in Cambridge until 1926, but the hospital offered both cold (3d) and hot baths (2s 6d), as did other private bath houses.</p>
			</div>
			<div class="col-md-6">
				<img class="img-responsive" src="{% static 'img/history-public-bath.jpg' %}">
				<cite>The Public Baths in Gwydir Street - Museum of Cambridge CAMFK36.69</cite>
			</div>
		</div>
	</div>
</section>

<section class="sewage">
	<div class="container">
		<h2>Sewage</h2>
		<div class="row">
			<div class="col-md-6">
				<p class="body-text">The main aim of Hobson’s Conduit founders - to reduce disease by flushing sewage from the King's Ditch, was not so successful.  The water flow was inadequate and inconsistent.  Until the 19th Century there was no access to drains for most citizens so insanitary conditions were widespread. Sewage was disposed of by the residents in pits dug in their yards or into the street gutter - clearly this was offensive and a health threat. Typhoid (probably ‘The Cambridge fever’), and Cholera, Dysentry and Plague continued to affect Cambridge well into the late 1800’s.</p>
				<p class="body-text">Many open ditches continued to discharge sewage into the polluted River Cam.  Queen Victoria, on a visit to Cambridge in 1843, asked, “What are those pieces of paper floating in the river?” Rather than admitting that they were newspaper pages used as toilet paper, Professor Whewell, Master of Trinity College replied, “Those, Ma’am, are notices that bathing is forbidden.”</p>
			</div>
			<div class="col-md-6">
				<img class="img-responsive" src="TODO">
				<cite>TODO</cite>
			</div>
		</div>
	</div>
</section>

<section class="health-report">
	<div class="container">
		<h2>Health Report</h2>
		<div class="row">
			<div class="col-md-6">
				<p class="body-text">In 1849, some 240 years after Hobson's Conduit was constructed, a General Board of Health report described the medieval state of central Cambridge.</p>
				<p class="body-text">Over 4,000 people (15%), were living in 140 courts, alleys, passageways, yards and cul de sacs. The report highlighted adverse effects of poor housing, proximity of animal refuse, stagnant pools containing animal and vegetable matter and lack of toilet facilities.  The report concluded 'It is difficult to conceive anything more revolting, or destructive to every sense of decency and modesty'.</p>
				<p class="body-text">Increased water supplies were generated from South and East of Cambridge and continue to be used today.  In 1866, Sir Joseph Bazalgette (an engineer who introduced London’s sewer system) proposed an intercepting sewer and building a pumping station to separate household sewage from the drinking water supply in Cambridge.</p>
				<p class="body-text">The pumping station off Newmarket Road was built in 1895, and is now restored as the <a href="http://www.museumoftechnology.com">Museum of Technology.</a></p>
			</div>
			<div class="col-md-6">
				<img class="img-responsive" src="{% static 'img/history-housing-proximity.jpg' %}">
				<div class="col-md-8 col-centered">
					<cite>A view from the Geology Museum (1926) showing the close proximity of housing in the Lion Yard area - Cambridgeshire Collection</cite>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
