{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	History Page
{% endblock %}

{% block content %}
<section class="hero">
	<div class="history-hero">
		<h1>The History</h1>
		<hr>
		<p><em>The history of the conduit and trust<em></p>
	</div>
</section>

<section class="thomashobson">
	<div class="container">
		<h2>Who was Thomas Hobson?</h2>
		<div class="row">
			<div class="col-md-9">
				<p class="intro-text">The water supply in the ‘new river’ from Nine Wells was named after Thomas Hobson, a local entrepreneur and carrier of goods by road between Cambridge and London. </p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<img src="{% static 'img/thomas-hobson.jpg' %}">
				<cite>Thomas Hobson. Attribution -National Portrait Gallery</cite>
			</div>
			<div class="col-md-6">
				<p class="body-text">Thomas Hobson is famous for the following reasons: </p>
				<ul>
					<li>He was probably part of the town group who collaborated with the University authorities to bring clean drinking water into Cambridge from Nine Wells along the ‘new river’. </li>
					<li>He is the person behind the term Hobson’s Choice. Hobson hired horses from his stables. Because he would only let you hire the horse he wanted you to have, you had no choice or ‘Hobson’s Choice’. </li>
					<li>Hobson founded the <a href="http://www.workhouses.org.uk/Cambridge/">Spinning House</a> in Regent’s Street. This workhouse became a prison for vagrants suspected of any offence, particularly women considered to be prostitutes.</li>
				</ul>
				<p class="body-text">Thomas Hobson died on January 1st 1631 and is buried in the precincts of <a href="http://stbenetschurch.org">St Bene’t’s Church</a>.  Hobson left lands in his will to provide funds for the Trust to look after the ‘new river’.  Hence, the water course from Nine Wells is known as Hobson’s Brook. </p>

				<h3>More info</h3>
				<a class="deep-link" href="https://en.wikipedia.org/wiki/Thomas_Hobson"><p>Wikipedia  <i class="fa fa-angle-right" aria-hidden="true"></i></p></a>
				<a class="deep-link" href="http://www.trumpingtonlocalhistorygroup.org/index.html"><p>Trumpington history group  <i class="fa fa-angle-right" aria-hidden="true"></i></p></a>
				<a class="deep-link" href="http://www.creatingmycambridge.com/songs-creative/hobsons-choice/"><p>Creating my cambridge<i class="fa fa-angle-right" aria-hidden="true"></i></p></a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				
			</div>
		</div>
	</div>
</section>

<section class="water">
	<div class="container">
		<h2>Public health and clean water</h2>
		<div class="row">
			<div class="col-md-6">
				<p class="intro-text">In the 1500’s many people died with ‘Cambridge fever’. This was thought to be caused by ‘bad air’ from raw sewage in the streams, ditches and river and also from drinking dirty water.  Bringing fresh water into the city aimed to remove some of the sewage and provide clean water that was safe to drink.</p>
				<p class="body-text">By the 1600s, College development had forced the townspeople to live in increasingly overcrowded areas. Human waste was dumped in the streets or placed in pits in the back yards.  Sewage entered the King’s Ditch and the river, encouraging rats and their <a href="http://www.who.int/mediacentre/factsheets/fs267/en/">plague</a> infected fleas into the area, making the city a foul smelling, unhealthy place to live.</p>
			</div>
			<div class="col-md-6">
				<img class="img-responsive" src="{% static 'img/hobsons-old-map.jpg' %}">
				<cite>The River Cam (highlighted in blue) and the King’s Ditch (highlighted in red) from King’s Mill to Jesus Green, limited the living area in Cambridge.</cite>
			</div>
		</div>
	</div>
</section>


<section class="water">
	<div class="container">
		<h2>Dirty Water</h2>
		<div class="row">
			<div class="col-md-6">
				<img class="img-responsive" src="{% static 'img/history-red-heart-yard.jpg' %}">
				<cite>A view of Red Heart Yard (1886) looking towards Petty Cury showing overcrowded housing. Attribution - Reproduced with kind permission of the Museum of Cambridge</cite>
			</div>
			<div class="col-md-6">
				<p class="body-text">Unfortunately the water pressure from the Conduit was too low to clear the sewage from the King’s Ditch, and the ‘bad air’ persisted. This meant that bacteria causing <a href="https://www.nhs.uk/conditions/typhoid-fever/">typhoid</a>, <a href="https://www.nhs.uk/conditions/dysentery/">dysentery</a> and <a href="https://www.nhs.uk/conditions/cholera/">cholera</a> that we now know live in contaminated water, persisted into the late 1800’s. Because the sewage remained, the rats and their fleas persisted and plague was never eradicated.</p>
				<p class="body-text">By 1849, the population of Cambridge had increased to ~12,500 and the situation had not improved.  A General Board of Health report on overcrowding and the poor population health concluded 'It is difficult to conceive anything more revolting, or destructive to every sense of decency and modesty'.</p>
				<p class="body-text">In 1866, <a href="http://broughttolife.sciencemuseum.org.uk/broughttolife/people/josephbazalgette">Sir Joseph Bazalgette</a> suggested separating sewers and their contents from the pipes delivering the water.  A <a href="http://www.museumoftechnology.com/#home">pumping station</a> was built in 1895, after which untreated sewage no longer entered the drinking water supply.</p>
			</div>
		</div>
	</div>
</section>

<section class="water">
	<div class="container">
		<h2>Clean Water</h2>
		<div class="row">
			<div class="col-md-6">
				<p class="body-text">In 1511, Cambridge was described by Erasmus as ‘ the filthiest town in Europe’ but he was wealthy and lived in Queens' College, where the water in the well would be free from sewage and fatal water borne infections.</p>
				<p class="body-text">Drinking untreated water led to fever and diarrhoea from which many people died. Some, including students, brewed and drank ‘small beer’ containing 1% alcohol. This might not have improved the taste, but will have made it less harmful because alcohol kills bacteria that caused these diseases.</p>
				<p class="body-text">For the ~5,000 town inhabitants in 1614, Hobson's Conduit provided a vital source of fresh uncontaminated drinking water available to all in the market square, and this clean water supply continued for many years.  Even when Addenbrooke's Hospital opened in 1766, its water supply was taken from one of Hobson’s underground channels.</p>
				<p class="body-text">It was not until the 19th century when the Cambridge University and Town Water Authority provided clean water to most of the city that water-borne diseases finally became less common.</p>
				<p class="body-text">For more information about public health in Cambridge see <a href="http://www.british-history.ac.uk/vch/cambs/vol3/pp101-108">here</a></p>
			</div>
			<div class="col-md-6">
				<img class="img-responsive" src="{% static 'img/erasmus.jpg' %}">
				<cite>The Dutch scholar and Professor of Divinity, Desiderius Erasmus</cite>
			</div>
		</div>
	</div>
</section>

{% endblock %}
