{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	History Page
{% endblock %}

{% block content %}
<section class="hero">
	<div class="trust-hero">
		<h1>Hobson's Conduit Trust</h1>
		<hr>
		<p><em>The history of the conduit and trust<em></p>
	</div>
</section>

<section class="objectives">
	<div class="container">
		<h2>Overview</h2>
		<hr>
		<div class="row">
			<div class="col-md-9">
				<p class="intro-text">The Trust dates from 1632 and is responsible for upkeep of Hobson’s Brook from Nine Wells to the Conduit Head, and its underground branches through Cambridge.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<img src="http://via.placeholder.com/300x300">
			</div>
			<div class="col-md-6">
				<h3 class="objectives-title">Trust Objectives<h3/>
				<ol class="objectives-list">
					<li>To preserve this historic chalk stream for its ecological and public amenity value.</li>
					<li>To provide water supply to the Trumpington Street runnels, Emmanuel, Christ’s  and Pembroke Colleges and the University Botanic Garden.</li>
					<li>To preserve the character of the Brook as an example of early civil engineering.</li>
					<li>To maintain an appropriate volume of water flow and an acceptable water quality.</li>
					<li>To secure an adequate level of funding to support these objectives.</li>
				</ol>
			</div>
		</div>
	</div>
</section>

<section class="History">
	<div class="container">
		<h2>History</h2>
		<hr>
		<div class="row">
			<div class="col-md-8">
				<p class="body-text">In the early 1600’s, Cambridge Town, University authorities, and the Lord of the Manor in Trumpington collaborated to create a ‘new river’ to bring fresh water to Cambridge. At the time plague and other fatal infections were thought to be caused by contaminated water. A constant supply of fresh water was designed to reduce the risk for the population.</p>
				<p class="body-text">This collaboration established rights over the water course from Nine Wells and the soil on either side to maintain it in good order.  In 1632, Thomas Hobson bequeathed land to fund and maintain the public water supply.  Since that time Hobson’s name has been associated with this water supply.</p>
				<p class="body-text">Benefactors have continued to give various sources of funds to maintain Hobson’s Conduit.  In early years a group of feoffees (Trustees) were responsible for managing the monies on behalf the town and the university.  The Conduit Trust was first registered with the Charity Commission in 1868 with minor alterations in 1899.</p>
				<p class="body-text">Initially, fifteen trustees were appointed, five by the City of Cambridge with ten persons residents or businessmen from Cambridge co-opted to help.  The Trust now consists of fifteen interested volunteer trustees from Cambridge and the surrounding area.</p>
			</div>
			<div class="col-md-4">
				<img class="img-responsive" src="{% static 'img/thomas-hobson.jpg' %}">
			</div>
		</div>
	</div>
</section>

<section class="volunteer">
	<div class="container">
		<h2>Volunteer for the trust</h2>
		<hr>
		<div class="row">
			<div class="col-md-9">
				<p class="intro-text">The Hobson’s Conduit Trustees rely on volunteers to help keep the banks, paths and the brook clear and help with assessing different species in the BioBlitz.  This makes sure that water flow and its environs are maintained so everyone can enjoy this ancient waterway.</p>
				<a class="deep-link" href=""><p>Fill our the form and a member of the team will be in touch! <i class="fa fa-angle-right" aria-hidden="true"></i></p></a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<h3>What out volunteers can do for the trust</h3>
				<p class="body-text">In the last months, volunteers have removed discarded ironwork, various items of clothing and even an odd shoe! This is in addition to the usual bottles, cups, cans and pieces of fallen timber, which regularly find their way into the water.</p>
				<p class="body-text">Our volunteers have also helped in identifying animal and plant species found along the stream during the Hobson’s Conduit Bioblitz. (need link to internal page about Bioblitz here). This will help quantify the wildlife in and around the brook over the next few years to be sure that the present broad diversity of species is maintained for the future.</p>
				<p class="body-text">The volunteers also enjoy the social aspect of the work with refreshments during and after work on the brook. Trustees and interested specialists provide briefings about Hobson’s Conduit, its history and development and wildlife in this important heritage area.</p>
				<p class="body-text">We are very grateful to our volunteers but are always looking to recruit. If you would like more information please contact <a href="mailto:Toni.Birkin@cambridge.gov.uk">Toni Birkin</a>
			</div>
			<div class="col-md-4">
				<img src="http://via.placeholder.com/300x300">
			</div>
		</div>
	</div>
</section>

<section class="charity">
	<div class="container">
		<h2>Charity</h2>
		<hr>
		<div class="row">
			<div class="col-md-9">
				<p class="body-text">As a Registered Charity (Number 204644), recent Trust accounts and reports are at the Charity Commission website <a href="http://apps.charitycommission.gov.uk/Showcharity/RegisterOfCharities/CharityWithoutPartB.aspx?RegisteredCharityNumber=204644&SubsidiaryNumber=0">here</a>. We publish our annual accounts through this website so please feel free to have a look.</p>
				<a class="deep-link" href="https://help.justgiving.com/hc/en-us/articles/200669491-Setting-up-your-Fundraising-Page-for-a-charity"><p>Donate here (currently links to info on how to set up a just giving page!)<i class="fa fa-angle-right" aria-hidden="true"></i></p></a>
				<a class="deep-link" href=""><p>Another link to charity related information / partner?<i class="fa fa-angle-right" aria-hidden="true"></i></p></a>
			</div>
		</div>
	</div>
</section>

<section class="trustees">
	<div class="container">
		<h2>Trustees</h2>
		<hr>
		<div class="row">
			<div class="col-md-9">
				<p class="intro-text">
					A high level overview of what the trustees do, maybe some interesting facts about former trustees?
				</p>
				<p class="body-text">
					As constituted the Trust can consist of 15 volunteer Trustees. The Trustees are supported by professional officers of Cambridge City Council including the Trust’s Clerk, Engineer and Accountant. If you are interested in becoming a Trustee, please contact the Trust Clerk, [toni.birkin@cambridge.gov.uk.]Former trustees include
				</p>
			</div>
		</div>
		<h3>The existing Trustees</h3>
		<div class="row">
			<div class="col-md-3">
				<img class="img-responsive img-circle" src="https://vignette1.wikia.nocookie.net/cutemariobro/images/5/59/Person-placeholder.jpg/revision/latest?cb=20170131092134">
				<h4>Howard Slatter - <em>Chairman and Chief Exective Officer</em></h4>
				<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
			</div>
			<div class="col-md-3">
				<img class="img-responsive img-circle" src="https://vignette1.wikia.nocookie.net/cutemariobro/images/5/59/Person-placeholder.jpg/revision/latest?cb=20170131092134">
				<h4>Graeme Minto - <em>Secretary</em></h4>
				<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
			</div>
			<div class="col-md-3">
				<img class="img-responsive img-circle" src="https://vignette1.wikia.nocookie.net/cutemariobro/images/5/59/Person-placeholder.jpg/revision/latest?cb=20170131092134">
				<h4>Joe Blogs - <em>Finance</em></h4>
				<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
			</div>
			<div class="col-md-3">
				<img class="img-responsive img-circle" src="https://vignette1.wikia.nocookie.net/cutemariobro/images/5/59/Person-placeholder.jpg/revision/latest?cb=20170131092134">
				<h4>Max Field - <em>Websites / Learning</em></h4>
				<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<img class="img-responsive img-circle" src="https://vignette1.wikia.nocookie.net/cutemariobro/images/5/59/Person-placeholder.jpg/revision/latest?cb=20170131092134">
				<h4>Howard Slatter - <em>Chairman</em></h4>
				<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
			</div>
			<div class="col-md-3">
				<img class="img-responsive img-circle" src="https://vignette1.wikia.nocookie.net/cutemariobro/images/5/59/Person-placeholder.jpg/revision/latest?cb=20170131092134">
				<h4>Graeme Minto - <em>Secretary</em></h4>
				<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
			</div>
			<div class="col-md-3">
				<img class="img-responsive img-circle" src="https://vignette1.wikia.nocookie.net/cutemariobro/images/5/59/Person-placeholder.jpg/revision/latest?cb=20170131092134">
				<h4>Joe Blogs - <em>Finance</em></h4>
				<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
			</div>
			<div class="col-md-3">
				<img class="img-responsive img-circle" src="https://vignette1.wikia.nocookie.net/cutemariobro/images/5/59/Person-placeholder.jpg/revision/latest?cb=20170131092134">
				<h4>Max Field - <em>Websites / Learning</em></h4>
				<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
			</div>
		</div>
	</div>
</section>
{% endblock %}
