{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	Home Page
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<section class="hero">
	<div class="home-hero">
		<h1>Hobson's Conduit Trust</h1>
		<hr>
		<p><em>Bringing fresh water into the city of Cambridge<br>since 1614<em></p>
	</div>
</section>
<section class="about">
	<div class="container about-container">
		<h2>What is Hobson's Conduit Trust?</h2>
		<div class="row">
			<div class="col-md-6">
				<p class="intro-text">Hobson’s Conduit Trust was established by Thomas Hobson to maintain good quality water supply from Nine Wells into Cambridge.</p>
				<p class="body-text">In the early 1600’s, Cambridge was regularly affected by plague and other fatal infections thought to be caused by contaminated water.  A constant supply of fresh drinking water was considered necessary to protect the population.</p>
				<p class="body-text">Four miles away, the Nine Wells springs in Great Shelford was a source of clean water.  The authorities from Cambridge Town and University collaborated with the Lord of the Manor in Trumpington to create a ‘new river’ to divert some of this fresh water into Cambridge.</p>
				<p class="body-text">In 1631, Thomas Hobson, whose income came from transporting goods to and from London, bequeathed land to fund and maintain this public water supply - hence the association with his name.  Hobson’s Conduit Trust is now a registered charity, that was established to have rights over the stream and to maintain it in good order for the town and the University.</p>
				<a class="deep-link" href="{% url 'history' %}"><p>Find out about the more about the Conduit  <i class="fa fa-angle-right" aria-hidden="true"></i></p></a>
				<a class="deep-link" href="{% url 'trust' %}"><p>Get involved with Hobson's Conduit Trust  <i class="fa fa-angle-right" aria-hidden="true"></i></p></a>
			</div>
			<div class="col-md-6">
				<img class="img-reponsive about-img" src="{% static 'img/hobsons-conduit-head.JPG' %}">
				<cite>The Conduit Head at the end of the above ground section of the waterway</cite>
			</div>
		</div>
	</div>
</section>

<section class="where">
	<div class="container">
		<h2>Where is Hobson's Conduit?</h2>
		<div class="row">
			<div class="col-md-9">
				<p class="body-text">The water in Hobson’s Conduit runs above ground from the Nine Wells Nature Reserve, south of Cambridge (CB22 5JY). The stream passes west of Addenbrooke’s Hospital (CB2 0QQ), and Trumpington Park, under Long Road and Brookland’s Avenue, beside the western end of the Botanic Garden (CB2 1JE).  Finally the water flows by Brookside, terminating at the Conduit Head (CB2 1PY). From here the conduit runs in underground channels but the water is still visible along the runnels in Trumpington Street and in some college ponds. <p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h3>More info</h3>
				<a class="deep-link" href="{% url 'location' %}"><p>What's along the conduit  <i class="fa fa-angle-right" aria-hidden="true"></i></p></a>
				<a class="deep-link" href="/location/#hazards"><p>Potential hazards along the conduit  <i class="fa fa-angle-right" aria-hidden="true"></i></p></a>
			</div>
		</div>
		<div class="map" id="map"></div>
	</div>
</section>

<section class="wildlife">
	<div class="container">
		<h2>Flora and Fauna along Hobson's Conduit</h2>
		<div class="row">
			<div class="col-md-9 col-centered">
				<p class="intro-text">The above ground section of Hobson’s Conduit supports many plant and animal species much of which may be seen during a visit. Some of this wildlife was identified during the 2017 Bioblitz, and the common species are listed below.</p>
			</div>
		</div>
		<div class="row">
			<div class='col-md-4'>
				<img src="{% static 'img/wildlife/water_vole.png' %}">
				<a href="/wildlife/#mammals"><h3>Mammals <i class="fa fa-angle-right" aria-hidden="true"></i></h3></a>
			</div>
			<div class='col-md-4'>
				<img src="{% static 'img/wildlife/little_egret.png' %}">
				<a href="/wildlife/#birds"><h3>Birds <i class="fa fa-angle-right" aria-hidden="true"></i></h3></a>
			</div>
			<div class='col-md-4'>
				<img src="{% static 'img/wildlife/smooth_newt.png' %}">
				<a href="/wildlife/#reptiles"><h3>Reptiles and Amphibians <i class="fa fa-angle-right" aria-hidden="true"></i></h3></a>
			</div>
		</div>
		<div class="row">
			<div class='col-md-4'>
				<img src="{% static 'img/wildlife/three_spined_stickleback.png' %}">
				<a href="/wildlife/#fish"><h3>Fish <i class="fa fa-angle-right" aria-hidden="true"></i></h3></a>
			</div>
			<div class='col-md-4'>
				<img src="{% static 'img/wildlife/water_boatman.png' %}">
				<a href="/wildlife/#invertebrates"><h3>Invertebrates <i class="fa fa-angle-right" aria-hidden="true"></i></h3></a>
			</div>
			<div class='col-md-4'>
				<img src="{% static 'img/wildlife/water_violet.png' %}">
				<a href="/wildlife/#plants"><h3>Plants <i class="fa fa-angle-right" aria-hidden="true"></i></h3></a>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript" src="{% static 'js/map.js'%}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHJabr5ltk6WnDcKse-XlU5DroKvWripA&callback=initMap"
    async defer></script>


{% endblock %}
