{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	Home Page
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<section class="hero">
	<div class="location-hero">
		<h1>The location</h1>
		<hr>
		<p><em>Hobson’s Conduit - for the curious<em></p>
	</div>
</section>

<section class="map-section">
	<div class="container">
		<h2>Where is the conduit?</h2>
		<div class="map" id="map"></div>
	</div>
</section>
<section class="poi">
	<div class="container">
		<h2>Points of Interest</h2>
		<div class="row">
			<div class="col-md-6">
				<h3>Nine Wells</h3>
				<p class="body-text">Parking near Nine Wells is available at <a href="https://www.google.com/maps/dir/''/Car+Park+2+Addenbrooke's+Hospital,+Robinson+Way,+Cambridge+CB2+0SL/@52.1726445,0.0671409,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x47d87a612b55e159:0xb4fb96b8672f00e2!2m2!1d0.1371804!2d52.1726652">Addenbrooke’s Hospital Car Park 2</a>. Proceed to the Rosie Maternity Hospital along Robinson Way and turn right into Dame Mary Archer Way.  As the road bends right, take the footpath straight ahead and follow this to a T-junction. Take the tarmac path on the left and just before a wooden bridge turn left and follow the track to the trees ahead.  Part of the brook on your right.  <a href="https://www.cambridge.gov.uk/nine-wells-local-nature-reserve">Nine Wells Local Nature Reserve</a> and the source of the water for Hobson’s Brook is across a bridge by an information board</p>
			</div>
			<div class="col-md-6">
				<img src="{% static 'img/nine-wells1.jpg' %}">
				<cite>First view of the Nine Wells Nature Reserve</cite>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<p class="body-text">The spring heads at Nine Wells (CB22 5JY) are the site of the water source for the chalk stream now known as Hobson’s Conduit. Until 1976, this area was a site of Special Scientific Interest (SSI).  In 2005 Nine Wells was designated a <a href="http://lnr.cambridge.gov.uk/nature_reserve/nine-wells/">Local Nature Reserve</a>.</p>
				<p class="body-text">Nine Wells is also the site of an obelisk dedicated to founders and benefactors of <a href="https://en.wikipedia.org/wiki/Nine_Wells">Hobson’s Conduit</a>. At Nine Wells the recent Bioblitz identified over 160 animal and plant species including Tawny Owls and the poisonous deadly nightshade. It is not possible to walk along the full length of the brook from Nine Wells because of the building sites at Trumpington.</p>
			</div>
			<div class="col-md-6">
				<img src="{% static 'img/nine-wells2.jpg' %}">
				<cite>The obelisk commemorating benefactors.</cite>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h3>Conduit Water Course</h3>
				<p class="body-text">It is not possible at present to walk from Nine Wells (CB22 5JY) to the Conduit Head at the bottom of Lensfield Road (CB2 1PY).  The path commences again close to the junction of Barrow Road and Porson Road (CB2 8AS). Parking restrictions operate in this area.</p>
				<p class="body-text">The wooden door at the junction allows access to a path leading Hobson’s Brook where many fish, newts and other amphibians are frequently seen.</p>
			</div>
			<div class="col-md-6">
				<img src="{% static 'img/stone-bridge.jpg' %}">
				<cite>The stone bridge looking over Emmanuel College field.</cite>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<p class="body-text">At the stone bridge follow the left hand path along by ancient woodlands with abundant bird, animal and plant life including a rare Black Poplar tree.  Proceed over the Trustees wooden bridge under which the original stream still flows towards the Cam.  Hobson’s ‘new river’ goes straight on between Clare College wood and sports ground and then on between Empty Common allotments and Accordia developments to Brooklands Avenue. After crossing the road, the path follows the edge of the Botanic Gardens.</p>
			</div>
			<div class="col-md-6">
				<img src="{% static 'img/wooden-bridge2.jpg' %}">
				<cite>The Trustees wooden bridge</cite>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h3>The Botanic Gardens</h3>
				<p class="body-text">There is limited Pay & Display parking is available in Trumpington Road opposite the <a href="http://www.botanic.cam.ac.uk/Botanic/Home.aspx">University Botanic Garden</a>. Buses also leave <a href="http://cambridgeparkandride.info/trumpington-about.shtml">Trumpington Park & Ride</a> - alight at the The Nuffield Hospital.</p>

				<p class="body-text">On the East side of Trumpington Street proceed towards Cambridge, crossing Brooklands Avenue.  You pass the cottage bullt for the Botanic Gardens groundsman, the original entrance to the Botanic Gardens and the new access point on Bateman Street. Water from Hobson’s Conduit is used to fill the lake in the Botanic Garden.</p>
			</div>
			<div class="col-md-6">
				<img src="{% static 'img/cottage.jpg' %}">
				<cite>The Botanic Garden Groundsman’s Cottage</cite>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<p class="body-text">Upon reaching Brookside where the course passes through a grassed area by Trumpington Road.  The above ground water flow terminates at the beginning of the underground sections now marked at the Conduit Head by the old fountain - moved from market square in 1856.  There are cafes wine bars and restaurants in this area.</p>
			</div>
			<div class="col-md-6">
				<img src="{% static 'img/lake2.jpg' %}">
				<cite>The Botanic Garden Lake</cite>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h3>The Underground section</h3>
				<p class="body-text">From the Conduit Head four channels run underground. One went to provide water for Trumpington Street where two runnels now take water down either side in summer months. The water flowed into the King’s Ditch sewer near <a href="http://www.stbotolphs.net">St Botolph’s Church</a>.</p>
				<p class="body-text">One, now disused, ran under what is now the Lion Yard shopping Mall to the Market Square where a fountain supplied continuous water to the public until 1856. Part of this structure is now located at the Conduit Head and sculptures that were on the fountain are in the <a href="http://www.museumofcambridge.org.uk">Museum of Cambridge</a>.</p>
			</div>
			<div class="col-md-6">
				<img src="{% static 'img/fountain.jpg' %}">
				<cite>The fountain in Market Square (photograph CAMFK78.53)</cite>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<p class="body-text"> Another disused chanel ran under the <a href="https://www.jbs.cam.ac.uk/aboutus/the-school/history-and-today/">Judge Business School</a> providing water to what was the first Addenbrookes Hospital, the grounds of <a href="http://www.pem.cam.ac.uk/the-college/">Pembroke College</a>, and used to feed the original University Botanic Garden in Free School Lane.</p>
				<p class="body-text">The final watercourse still delivers water to <a href="http://www.emma.cam.ac.uk">Emmanuel</a> and <a href="https://www.christs.cam.ac.uk">Christ’s Colleges</a> where the fish ponds can still be seen. The course travels under Lensfield Road, Parkers Piece and St. Andrew’s Street.</p>
				<p class="body-text">After supplying water to Christ’s College fish ponds and swimming pool the excess flowed into the King’s Ditch in an attempt to clear the north end of the sewer.</p>
			</div>
			<div class="col-md-6">
				<img src="{% static 'img/metal-grill.jpg' %}">
				<cite>The path of the St Andrew’s Street runnels marked by metal grills outside Christ’s College</cite>
			</div>
			
		</div>
	</div>
</section>
<section class="hazards">
	<div class="container">
		<h2>Hazards along the Hobson's Brook</h2>
		<div class="row">

			<div class="col-md-3"></div>
			<div class="col-md-6 center">
				<p class="body-text">General advice on safety near water can be found at <a href="https://www.rospa.com">The Royal Society for the prevention of accidents</a>. Also be aware of:</p>
				<ul>
					<li>At all times please make sure to exercise great caution particularly when crossing busy roads.</li>
					<li>Falling into the water is dangerous particularly because the silt layer can be two metres deep.</li>
					<li>Animals near fresh water can carry <a href="https://www.nhs.uk/conditions/leptospirosis">Leptospirosis</a>. Infection in humans is rare.</li>
					<li>The runnels on Trumpington Street present a serious physical hazard to pedestrians, cyclists and can cause damage to cars if parking is misjudged!</li>
				</ul>
			</div>
			<div class="col-md-3"></div>
		</div>
	</div>
</section>

<script type="text/javascript" src="{% static 'js/map.js'%}"></script>  
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHJabr5ltk6WnDcKse-XlU5DroKvWripA&callback=initMap"
    async defer></script>
{% endblock %}