{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	Trust Page
{% endblock %}

{% block content %}
<section class="hero">
	<div class="trust-hero">
		<h1>The trust</h1>
		<hr>
		<p>The present trust and its history</p>
	</div>
</section>

<section class="objectives">
	<div class="container">
		<h2>Objectives</h2>
		<div class="row">
			<div class="col-md-9">
				<p class="intro-text">The Trust dates from 1632 and is responsible for upkeep of Hobson’s Brook from Nine Wells to the Conduit Head, and the channels built underground through Cambridge to provide water for the population.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<img src="{% static 'img/trust_conduit.jpg' %}">
				<cite>The Conduit head at the Northern end of the above ground section of the waterway</cite>
			</div>
			<div class="col-md-6">
				<h3 class="objectives-title">Trust Objectives<h3/>
				<ol class="objectives-list">
					<li>To preserve an historic chalk stream for its ecological and public amenity value.</li>
					<li>To provide water supply to the Trumpington Street runnels, Emmanuel, Christ’s  and Pembroke Colleges and the University Botanic Garden.</li>
					<li> To continue to provide a drainage water course and to preserve its character as an example of early civil engineering.</li>
					<li>In pursuance of the above to maintain an acceptable maximum and minimum volume of flow and an acceptable minimum quality of water.</li>
					<li>To secure and preserve a level of funding adequate to support these objectives.</li>
					<li>To manage the finances of the Trust, balancing current requirements whilst ensuring long-term security.</li>
				</ol>
			</div>
		</div>
	</div>
</section>
<section class="volunteer">
	<div class="container">
		<h2>Volunteer for the trust</h2>
		<div class="row">
			<div class="col-md-9">
				<p class="intro-text">The Hobson’s Conduit Trustees rely on volunteers to help keep the brook and paths clear of obstruction, and to maintain species diversity. This ensures the environment remains for everyone to enjoy.</p>
				<a class="deep-link" href="https://goo.gl/forms/wlJYCwCa6mIDQuut2" target="_blank"><p>Fill our the form and a member of the team will be in touch! <i class="fa fa-angle-right" aria-hidden="true"></i></p></a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h3>How can you help?</h3>
				<p >Volunteers have removed ironwork, clothing and other rubbish (including one shoe), from the brook. During each <a href="/wildlife/">Bioblitz</a>, volunteers helped identify animal and plant species along Hobson’s brook. This quantified the local wildlife to identify the diversity of species as a baseline for future studies.</p>
				<p >Volunteers enjoy the social aspect of work on the Brook and interested specialists have given briefings about the history, development and the wildlife in the area.  We are very grateful to our volunteers but are always looking to recruit. Fill in the form <a href="https://docs.google.com/forms/d/1ggRBP_6DPFKGgy3vsrIvfxeie9ZsNCpYI83fO0LAWyw/prefill">here</a> and someone will be in touch.</p>
			</div>
			<div class="col-md-6">
				<img src="{% static 'img/bio_blitz.jpg' %}">
				<cite>Volunteers for the Bio Blitz. Attribution - Richard Fraser</cite>
			</div>
		</div>
	</div>
</section>

<section class="charity">
	<div class="container">
		<h2>Charity</h2>
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<p >As a Registered Charity (Number 204644), recent Trust accounts and reports are at the Charity Commission website <a href="http://apps.charitycommission.gov.uk/Showcharity/RegisterOfCharities/CharityWithoutPartB.aspx?RegisteredCharityNumber=204644&SubsidiaryNumber=0">here</a>. We publish our annual accounts through this website so please feel free to have a look.</p>
			</div>
			<div class="col-md-3"></div>
		</div>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<img src="{% static 'img/charity_commission.png' %}"/>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
</section>

<section class="trustees">
	<div class="container">
		<h2>Trustees</h2>
		<div class="row">
			<div class="col-md-9">
				<p class="intro-text">
					Hobson’s Conduit Trustees celebrated the 400th anniversary of of the Conduit in 2014.  Previous Trustees have H Matthew (the Cambridge grocer),and W Eaden Lilly (the Cambridge store founder).  Although initially set up to bring clean drinking water into the City, the Trustees now maintain Hobson’s Brook for its heritage and environmental benefit.
				</p>
				<p >
					Trustees are supported by officers from Cambridge City Council including the Trust's Clerk and Engineers. If you are interested in becoming a Trustee, please contact the <a href="mailto:toni.birkin@cambridge.gov.uk?Subject=HCT%20Trustee%20application">Clerk to the Trust</a>.
				</p>
			</div>
		</div>
		<h3>The existing Trustees</h3>
		<div class="row">
			<div class="col-md-4">
				<h4>Howard Slatter (Chairman)</h4>
				<p>Howard took his degree at Cambridge, and had a career teaching mathematics in schools, latterly in Cambridge.  He lives in Trumpington, where he is involved with the Local History Group.  His interests include birdwatching and family history.  He became a Trustee in 2008 and has been Trust chairman since 2011.</p>
			</div>
			<div class="col-md-4">
				<h4>Graeme Minto</h4>
				<p>Graeme studied Engineering at Cambridge University and started Domino Printing Sciences in 1978.  He has been a magistrate, church treasurer, churchwarden, and a trustee or director of several local organisations. He is also an active member of the Rotary club. He has been a Trustee since 1998 and vice chairman since 2014.</p>
			</div>
			<div class="col-md-4">
				<h4>Michael Blakey</h4>
				<p>	Michael was senior partner of Barr Ellison Solicitors and has lived in Cambridgeshire for many years. Amongst his other many activities, he is Chairman of the Cambridgeshire Cottage Housing Society, and a member of a local Rotary Club, having served as president twice. He is also a churchwarden of a local church in Impington. Michael has been a Trustee for nearly 10 years.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<h4>Steve Boreham</h4>
				<p>Steve is geologist and ecologist with expertise in field survey techniques and laboratory analyses.  His interests include geochemistry, water quality and sediment dynamics. His work in these areas as well the study of tephra, pollen, diatoms and plant macrofossils has enabled him to act as an expert witness, and to teach throughout East Anglia. Steve became a Trustee in 1989.</p>
			</div>
		
			<div class="col-md-4">
				<h4>Max Field</h4>
				<p>Max was born in Cambridge, and studied at Charing Cross Hospital.  He worked in Yorkshire, Oxford, London and lastly in Glasgow as a rheumatologist with an interest in medical education. Upon retirement, Max and his family returned to Cambridge.  He lives near Nine Wells, sings in a local choir and is interested in Cambridge history.  Max has been a Trustee since 2015.</p>
			</div>
			<div class="col-md-4">
				<h4>Simon King</h4>
				<p>Simon studied at Sheffield University, entered the Army eventually commanding a sub-unit in Cyprus. After working in recruitment for PA Consulting Simon set up a company in Cambridge providing services for science, technology and engineering companies.  He has assisted initiatives at Addenbrooke’s hospital and is now in a management role at Cambridge University Health Partners. Simon became a Trustee in 2017.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<h4>Christopher Kington</h4>
				<p>A geographer and writer Chris had a professional career in educational publishing. He has variously been a non executive director of Ordnance Survey, President the Geographical Association, is Honorary Vice President the Field Studies Council and active member of the Woodcraft Folk. He enjoys nothing more that walking in and reflecting on the rural / urban edgelands. Chris has been a Trustee since 2015.</p>
			</div>
			<div class="col-md-4">
				<h4>John Latham</h4>
				<p>John came to Fitzwilliam College in 1975, and became interested in Hobson’s Conduit because of the Trumpington Street runnels. While working for Lloyds Bank and commuting to London, he has passed over the Brook over 10,000 times.  As a resident in Chesterton, John has taken a close interest in development in Cambridge and in conservation. John has an amateur interest in flora and fauna and became a Trustee in 2017.</p>
			</div>
			<div class="col-md-4">
				<h4>Duncan MacKay</h4>
				<p>Duncan is a Ironmonger and environmentalist and devotes a lot of his spare time to conserving wildlife in the Cambridge area. He is currently warden of the Lower Wood Wildlife Trust reserve near Weston Colville, runs regular conservation work parties and a number of conservation projects locally. Duncan has been a Trustee for over 10 years.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<h4>Jonathon Rooney</h4>
				<p>Jon is a Chartered Landscape Architect, specialising in strategic-scale landscape planning and design. As Technical Director at AECOM Jon works on infrastructure projects across the UK with an interest in character led, multi-disciplinary design and developing green infrastructure networks.  Jon also works for the Landscape Institute and acts as an expert witness on landscape and visual impact matters.</p>
			</div>
			<div class="col-md-4">
				<h4>Carl Tatterton</h4>
				<p>Carl was born in York, studied in Wales, working across the globe for the Ministry of Defence specialising in Military Engineering and Explosive Ordnance Disposal.  Upon retirement from the MoD, Carl moved to Cambridge and now works within Cambridge University Botanic Garden, and became a Trustee in 2016.</p>
			</div>
			<div class="col-md-4">
				<h4>Elisabeth Whittle</h4>
				<p> Elisabeth Whittle is a garden and landscape historian with interests in Tudor and Jacobean gardens. She has supported the Garden History Society (now Gardens Trust) and was an Inspector of Historic Parks and Gardens in Wales. She is a Past-President of the Welsh Historic Gardens Trust and a Trustee of the National Botanic Garden of Wales. She joined Hobson’s Conduit Trust in 2018.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<h4>John Williams</h4>
				<p>John came to Cambridge in the 1970’s as a University Officer, having been a researcher and lecturer in London since the 1960’s.  As a chartered biologist and engineer, Hobson’s Conduit has been of interest as an example of industrial archaeology and a valuable community amenity. John has since retired in south Cambridge with his family and has enjoyed being a Trustee for over fifteen years.</p>
			</div>
		</div>
	</div>
</section>
{% endblock %}
