{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	Water Page
{% endblock %}

{% block content %}
<section class="hero">
	<div class="trust-hero">
		<h1>The Water supply</h1>
		<hr>
		<p><em>Maintaining water quantity and supply<em></p>
	</div>
</section>
<section class="water-flow">
	<div class="container">
		<h2>Water flow</h2>
		<div class="row">
			<div class="col-md-6">
				<p class="body-text">The quantity of water flowing from Nine Wells varies dependent on variations in monthly rainfall.  Water abstraction from the chalk aquifer to supply a rising local population presents particular challenges for the Environment Agency and water supply companies. Other difficulties include developments near Nine Wells, intensification of agricultural practice and climate change.</p>
				<p class="body-text">The main concern for water flow along the Brook is a reduction in flow from the Nine Wells springs. In the past this has led to reduced levels of dissolved oxygen and water stagnation. These reduce the capacity downstream in the brook to support aquatic life particularly the pollution sensitive species including flatworms and caddisflies. Reduced water levels at the Conduit Head restricts water flow in the Trumpington Street runnels and to the Colleges. The Environment Agency recommends a flow rate of 20 litres/second, at Nine Wells springs, but this can fall below this level in the summer months.</p>
			</div>
			<div class="col-md-6">
				<img src="http://via.placeholder.com/300x300">
			</div>
		</div>
	</div>
</section>

<section class="water-quality">
	<div class="container">
		<h2>Water quality</h2>
		<div class="row">
			<div class="col-md-6">
				<p class="body-text">The main challenges to water quality comes from reduced oxygen concentration, and an increase in nutrients and toxic compounds following intensive farming in the catchment area.  The chemical and physical monitoring of water quality is accomplished through field measurements and laboratory analysis.</p>
				<p class="body-text">Electrical Conductivity, water acidity (pH) and dissolved Oxygen can be measured in the field using ‘dip & read’ meters.</p>
				<p class="body-text">Other more complex water quality indicators (nitrate, phosphate and ammonium levels) require laboratory analyses. Fortunately, nitrate levels despite being high, are falling as farming practices target fertilizer application more efficiently.</p>
				<p class="body-text">The best indication of water quality is the invertebrate fauna and aquatic flora in the brook. Although there has been a decline in species diversity and abundance linked to low water flow in summer months the species variety is good.  Bullhead and three-spined Stickleback are still found in the brook, and frogs, toads, grass snakes, kingfishers, mallard ducks and moorhen dwell along the margins, whilst various species of bats are frequently seen at dusk (See Bioblitz pages).</p>
			</div>
			<div class="col-md-6">
				<img src="http://via.placeholder.com/300x300">
			</div>
		</div>
	</div>
</section>

<section class="nine-wells">
	<div class="container">
		<h2>Nine Wells</h2>
		<div class="row">
			<div class="col-md-6">
				<p class="body-text">There are only about 200 <a href="https://www.wwf.org.uk/where-we-work/places/uk-rivers-and-chalk-streams?gclid=CjwKCAjw3f3NBRBPEiwAiiHxGAUT1i5iWh630mEBG-oU-wP5IOwafwBtWTAWCMGWxvR3Gw5Fnw3WvxoCA4cQAvD_BwE&gclsrc=aw.ds">chalk streams</a> in the world where water comes up through spring heads from subterranean aquifers.  NineWells (the term nine in medieval times reflects a large but not exact number), is a unique example of such a springhead with many sites where water has, and still does come up above ground.</p>
				<p class="body-text">In 1976, when annual rainfall fell in the area to XX cm (average ZZ cm) the springheads at Nine Wells dried up for YY months.  This lead to the Polycelis, a flatworm, a relic dating back to the last ice age dying out in the area. </p>
				<p class="body-text">Although the water flow re-commenced in late 1976, by 2004 water flow was so limited that it was necessary for rubbish to be removed from the springhead, and for water flow to be restored to running status by opening up the aquifers.</p>
				<p class="body-text">The flow rate at Nine Wells is now about one third of that in the 1930’s.  In addition, run-off of chemicals from agricultural land and surface water from the new buildings have altered water quality.</p>
			</div>
			<div class="col-md-6 polycell">
				<img src="{% static 'img/water-polycell.jpg'%}">
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h3>Before</h3>
				<img src="{% static 'img/water-before.jpg'%}">
			</div>
			<div class="col-md-6">
				<h3>After</h3>
				<img src="{% static 'img/water-after.jpg'%}">
			</div>

		</div>
	</div>
</section>

<section class="nine-wells-recent-improvements">
	<div class="container">
		<h2>Moving Forward</h2>
		<div class="row">
			<div class="col-md-6">
				<p class="body-text">Hobson’s Brook remains a precious part of South Cambridge.  The green corridor through which the chalk stream flows is highly valued by residents and visitors alike for its semi-rural peace and ecological diversity (<!-- TODO:  --> see the Wildlife and Bioblitz pages).</p>
				<p class="body-text">In 2017, the priorities for maintenance of Hobson’s Brook are under consideration.  This will include restoring the underground system, removal of silt from the above ground system and improving the ecological value of the Brook. Plans are also in place to augment the flow of water at Nine Wells to maintain water flow.</p>
				<p class="body-text">Plans are even in place to consider reintroduction of Polycelis from other springs in the Cambridge area. A more systematic monitoring of the ecology of the whole area around the brook has taken its first steps with the Bioblitz in summer 2017.  Hobson’s Conduit Trustees and their partners are working to make the future as bright as possible for this historic waterway.</p>
				<p class="body-text"></p>
			</div>
			<div class="col-md-6">
				<img src="{% static 'img/water-bore-hole.jpg'%}">
			</div>
		</div>
	</div>
</section>

{% endblock %}
