{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	Water Page
{% endblock %}

{% block content %}
<section class="hero">
	<div class="water-hero">
		<h1>The water supply</h1>
		<hr>
		<p>Maintaining water quantity and supply</p>
	</div>
</section>
<section class="water-intro">
	<div class="container">
		<h2>Introduction</h2>
		<div class="row">
			<div class="col-md-6">
				<p class="intro-text">An abundant flow of water in Hobson’s Brook is essential to preserve biodiversity and maintain important local heritage.</p>

				<p>High quality water is required to provide an appropriate environment for local wildlife both along the stream and in the University Botanic Garden lake which takes water from Hobson’s Brook.  Emmanuel and Christ's Colleges also take this water to maintain their fishponds and gardens.  Perhaps the most well recognised feature in Cambridge in which Hobson’s Brook water flows, are the Trumpington Street runnels outside the Fitzwilliam Museum, the Judge Business School and Peterhouse and Pembroke Colleges.</p>

				<p>Despite the changing use of land near the source of the water at Nine Wells and along the brook itself, a profusion of plant and animal species still thrive near the water course and water quality remains high.</p>
			</div>
			<div class="col-md-6">
				<img src="{% static 'img/water-runnel.jpg' %}">
			</div>
		</div>
	</div>
</section>

<section class="nine-wells">
	<div class="container">
		<h2>Nine Wells</h2>
		<div class="row">
			<div class="col-md-6">
				<p>There are only 160 chalk streams like the one from Nine Wells in England. Rainwater falling on high ground is filtered through the chalk where it is stored for some months. The water cools to about 10°C before emerging in springs lower down the slopes.  The term 'Nine' in medieval times reflects a large but not exact number of sources where water bubbles up from the underground reservoirs (some of which have now dried up).</p>
			</div>
			<div class="col-md-6">
				<img src="{% static 'img/nine_wells.jpg' %}">
				<cite>The water source at Nine Wells in June 2017 during the Bioblitz. Attribution - Richard Fraser</cite>
			</div>
		</div>
	</div>
</section>

<section class="water-flow">
	<div class="container">
		<h2>Water Flow</h2>
		<div class="row">
			<div class="col-md-6">
				<p >Reduction in water flow from Nine Wells has resulted from dryer summers and increased water extraction to supply the increasing population. Visually this affects water supply to the water course itself and increased algal growth but also limits flow in the Trumpington Street runnels as well as the Colleges. More importantly reduced levels of disolved oxygen and water stagnation reduces capacity to support aquatic life downstream particularly the pollution sensitive species like flatworms and caddisflies. In the 1976 hot summer, the underground spring heads dried up. Subsequently, two flatworms (Crenobia and Polycelis) that have inhabited chalk streams since the ice age have not been seen at Nine Wells.</p>
			</div>
			<div class="col-md-6">
				<img src="{% static 'img/polycelis.jpg' %}">
				<cite>Attribution - Steve Boreham</cite>
			</div>
		</div>
	</div>
</section>


<section class="water-quality">
	<div class="container">
		<h2>Priorities for the future</h2>
		<div class="row">
			<div class="col-md-9">
				<p class="intro-text">Cambridge Water are installing boreholes near Nine Wells to allow extra water to be injected into the springheads during times of low flow.  A monitoring regime is designed to keep the flow rate into Hobson’s Brook at a minimum of 20 litres/second.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<p ></p>
				<p >Chemical pollution is less of a problem with efficient use of fertilisers. The new housing developments mean that surface water now doesn’t drain into the farmland. Balance ponds take the excess surface water and provide a reservoir for excess water before regulating its entry into the stream, These ponds provide a haven for animal and plant wildlife and also reduce damage to water quality.</p>
				<p >It might even be possible to consider reintroduction of Polycelis and Crenobia once water flow at Nine Wells can be guaranteed.  A more systematic monitoring of the ecology of the area around the brook has taken its first steps with the <a href="http://queen-ediths.info/get-involved/bioblitz/">Bioblitz</a> in summer 2017.</p>
				<p >Hobson’s Brook remains a precious part of South Cambridge.  The green corridor through which the chalk stream flows is highly valued by residents and visitors alike for its semi-rural peace and ecological diversity.  Hobson’s Conduit Trustees and their partners are working to make the future as bright as possible for this historic watercourse.</p>
			</div>
			<div class="col-md-6">
				<img src="{% static 'img/water-bore-hole.jpg'%}">
				<cite>The site of a borehole above Nine Wells Nature Reserve in 2019 which will augement water flow when necessary.  Attribution - Richard Fraser</cite>
			</div>
		</div>
	</div>
</section>

{% endblock %}
