{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	Wildlife Page
{% endblock %}

{% block content %}
<section class="hero">
	<div class="wildlife-hero">
		<h1>The wildlife</h1>
		<hr>
		<p><em>Flora and Fauna along the brook<em></p>
	</div>
</section>
<section class="bio-blitz" id="bio-blitz">
	<div class="container">
		<h2>Hobson’s Brook Bioblitz</h2>
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<img src="{% static 'img/bio_blitz.jpg'%}">
				<cite>Volunteers and Experts discussing their findings during the 2017 Bioblitz</cite>
			</div>
			<div class="col-md-2"></div>
		</div>
		<div class="row">
			<div class="col-md-9">
				<p class="body-text">In the first of a ten year programme of assssment of wildlife in Hobson's Brook, more than 40 experts and 160 volunteers in ‘The Hobson’s Conduit Bioblitz’ have identified over 330 animal and plant species along this four-mile stretch of water.</p>
				<p class="body-text">At Nine Wells Local Nature Reserve, 166 species were identified including 35 birds, 5 mammals, 2 fish, 50 invertebrates (including 30 moths) and 74 plants. At Empty Common over 230 species were seen including 17 birds, 4 mammals, 2 fish, 1 reptile, 106 invertebrates (39 moths) and 103 plants (link to data table). Importantly only 76 species were common to both sites indicating considerable diversity along Hobson’s Brook. This study confirms the importance of maintaining high-quality water flow in the continued success of this ecosystem so close to Cambridge city.</p>
				<p class="body-text">For detailed lists of flora and fauna recorded, please read the latest report below.  This section of the website also shows some of the plant and animal species seen along the water course.</p>
				<p class="body-text"><a class="deep-link" href="https://www.facebook.com/hobsonsconduittrust/">Find out more on Facebook ></a></p>
				<p class="body-text"><a class="deep-link" href="http://queen-ediths.info/get-involved/bioblitz/"> Read the Reports ></a></p>
			</div>
		</div>		
		

		<!-- <iframe src="https://player.vimeo.com/video/222977773?title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<p><a href="https://vimeo.com/222977773">BioBlitz</a> from <a href="https://vimeo.com/twoflix">TwoFlix</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
	</div> -->
	
</section>
<section class="mammals" id="mammals">
	<div class="container">
		<h2>Mammals</h2>
		<div class="row">
			<div class="col-md-4 wildlife-card">
				<img src="{% static 'img/wildlife/water_vole.png' %}">
				<cite>Attribution - Peter Trimming</cite>
				<h3>Water Voles</h3>
				<p>Water Voles (Ratty from Wind in the Willows) are found along the whole water course. They are a similar size to brown rats, but have rounder faces, darker fur and smaller ears. Water Voles dig burrows close to the water’s edge and nibble vegetation along the banks and are a protected species.</p>
				<a class="deep-link" href="http://www.wildlifetrusts.org/species/water-vole">The Wildlife Trust ></a>
			</div>
			<div class="col-md-4 wildlife-card">
				<img src="{% static 'img/wildlife/water_shrew.png' %}">
				<cite>Attribution - R. Altenkamp</cite>
				<h3>Water Shrews</h3>
				<p>Water Shrews are the largest British shrews feeding on aquatic insects including caddis fly larvae and terrestrial insects and worms.  They are solitary and very territorial and have a black top with white undersides and a pointed nose.</p>
				<a class="deep-link" href="http://www.wildlifetrusts.org/species/water-shrew">The Wildlife Trust ></a>
			</div>
			<div class="col-md-4 wildlife-card">
				<img src="{% static 'img/wildlife/muntjac.png' %}">
				<cite>Attribution - Nilfamon</cite>
				<h3>Muntjac</h3>
				<p>Muntjac deer (originally from China) are often seen in urban gardens close to the brook banks. They are russet brown in summer and they breed all year round. The males have short antlers and a characteristic bark, often heard at night which can be mistaken for a fox.</p>
				<a class="deep-link" href="http://www.wildlifetrusts.org/species/muntjac-deer">The Wildlife Trust ></a>
			</div>
		</div>
	</div>
</section>
<section class="birds" id="birds">
	<div class="container">
		<h2>Birds</h2>
		<div class="row">
			<div class="col-md-4 wildlife-card">
				<img src="{% static 'img/wildlife/mallard.png' %}">
				<cite>Attribution - <a href="http://www.garthpeacock.co.uk/">Garth Peacock</a></cite>
				<h3>Mallard</h3>
				<p>Perhaps the most ubiquitous species at all times of the year. Several pairs breed, and family parties can be seen in summer all along the Brook and have even be seen crossing Trumpington Street.</p>
				<a class="deep-link" href="https://www.rspb.org.uk/birds-and-wildlife/wildlife-guides/bird-a-z/mallard">Read more ></a>
			</div>
			<div class="col-md-4 wildlife-card">
				<img src="{% static 'img/wildlife/grey_heron.png' %}">
				<cite>Attribution - <a href="http://www.garthpeacock.co.uk/">Garth Peacock</a></cite>
				<h3>Grey Heron</h3>
				<p>Grey Herons can be seen along the upper reaches of the Brook at any time of year.  The nearest breeding colony is near where Vicar’s Brook makes its outfall into the River Cam at Sheep’s Green.</p>
				<a class="deep-link" href="https://www.rspb.org.uk/birds-and-wildlife/wildlife-guides/bird-a-z/grey-heron">Read more ></a>
			</div>
			<div class="col-md-4 wildlife-card">
				<img src="{% static 'img/wildlife/little_egret.png' %}">
				<cite>Attribution - <a href="http://www.garthpeacock.co.uk/">Garth Peacock</a></cite>
				<h3>Little Egret</h3>
				<p>Increasingly frequent along the upper reaches, with up to six Little Egrets have been seen together in the winter.  As of 2018, no breeding has been established, but as this species continues to expand its range, that cannot be far off. </p>
				<a class="deep-link" href="https://www.rspb.org.uk/birds-and-wildlife/wildlife-guides/bird-a-z/little-egret">Read more ></a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 wildlife-card">
				<img src="{% static 'img/wildlife/snipe.png' %}">
				<cite>Attribution - <a href="http://www.garthpeacock.co.uk/">Garth Peacock</a></cite>
				<h3>Snipe</h3>
				<p>Snipe feed in winter along the muddy edges of the Brook and its feeder ditches. Snipe are usually only seen when it flies away with its zig-zag flight and heard as a result of its harsh call.</p>
				<a class="deep-link" href="https://www.rspb.org.uk/birds-and-wildlife/wildlife-guides/bird-a-z/snipe">Read more ></a>
			</div>
			<div class="col-md-4 wildlife-card">
				<img src="{% static 'img/wildlife/moorhen.png' %}">
				<cite>Attribution - <a href="http://www.garthpeacock.co.uk/">Garth Peacock</a></cite>
				<h3>Moorhen</h3>
				<p>A common species along the Brook at all times of year. Several pairs nest, and adults can be seen feeding young in many places, often along the most public stretches beside the University Botanic Garden and Brookside.</p>
				<a class="deep-link" href="https://www.rspb.org.uk/birds-and-wildlife/wildlife-guides/bird-a-z/moorhen">Read more ></a>
			</div>
			<div class="col-md-4 wildlife-card">
				<img src="{% static 'img/wildlife/kingfisher.png' %}">
				<cite>Attribution - <a href="http://www.garthpeacock.co.uk/">Garth Peacock</a></cite>
				<h3>Kingfisher</h3>
				<p>Kingfishers hold winter territories along the Brook, and can be seen perching on bankside vegetation or flying, like bright blue bullets, low over the water. Kingfishers have previously albeit occasionally nested along the upper reaches.</p>
				<a class="deep-link" href="https://www.rspb.org.uk/birds-and-wildlife/wildlife-guides/bird-a-z/kingfisher">Read more ></a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 wildlife-card">
				<img src="{% static 'img/wildlife/reed_warbler.png' %}">
				<cite>Attribution - <a href="http://www.garthpeacock.co.uk/">Garth Peacock</a></cite>
				<h3>Reed Warbler</h3>
				<p>With more Common Reed (Phragmites australis) in the watercourse, Reed Warblers are increasingly common in summer.  Cutting back the reed in winter tries to limit growth each year, which can obstruct water flow.</p>
				<a class="deep-link" href="https://www.rspb.org.uk/birds-and-wildlife/wildlife-guides/bird-a-z/reed-warbler/">Read more ></a>
			</div>
			<div class="col-md-4 wildlife-card">
				<img src="{% static 'img/wildlife/reed_bunting.png' %}">
				<cite>Attribution - <a href="http://www.garthpeacock.co.uk/">Garth Peacock</a></cite>
				<h3>Reed Bunting</h3>
				<p>The reed bunting nests in varied vegetation both in the stream and along the banks and adjoining ditches. It is present all year round, sometimes in flocks of up to twenty birds in winter.</p>
				<a class="deep-link" href="https://www.rspb.org.uk/birds-and-wildlife/wildlife-guides/bird-a-z/reed-bunting">Read more ></a>
			</div>
			<div class="col-md-4 wildlife-card">
				<img src="{% static 'img/wildlife/grey_wagtail.png' %}">
				<cite>Attribution - <a href="http://www.garthpeacock.co.uk/">Garth Peacock</a></cite>
				<h3>Grey Wagtail</h3>
				<p>Seen in winter along upper reaches of the Brook, the grey wagtail may be heard before being seen, because of its ‘chi-chic’ flight call. Grey wagtails have attempted to nest in the past - human disturbance makes this less likely. </p>
				<a class="deep-link" href="https://www.rspb.org.uk/birds-and-wildlife/wildlife-guides/bird-a-z/grey-wagtail">Read more ></a>
			</div>
		</div>
	</div>
</section>
<section class="reptiles" id="reptiles">
	<div class="container">
		<h2>Reptiles and Amphibians</h2>

		<div class="row">
			<div class="col-md-4 wildlife-card">
				<img src="{% static 'img/wildlife/grass_snake.png' %}">
				<cite>Attribution - John Turner</cite>
				<h3>Grass Snake</h3>
				<p>Grass Snakes like wetland habitats, but are found in grasslands and gardens. They are grey/green colour with a yellow collar. They are active between April and October often basking near ponds. Eggs are laid in warm rotting compost heaps.</p>
				<a class="deep-link" href="http://www.wildlifetrusts.org/species/grass-snake">The Wildlife Trust ></a>
			</div>
			<div class="col-md-4 wildlife-card">
				<img src="{% static 'img/wildlife/common_frog.png' %}">
				<cite>Attribution - Richard Bartz</cite>
				<h3>Common Frog</h3>
				<p>Frogs are smooth brown or grey and have long back legs. They live in garden ponds laying eggs as spawn in spring, spending the rest of the year feeding on terrestrial invertebrates in grassland and smaller amphibians. Frogs jump rather than walk and females are bigger than males.</p>
				<a class="deep-link" href="https://www.wildlifetrusts.org/wildlife-explorer/amphibians/common-frog">The Wildlife Trust ></a>
			</div>
			<div class="col-md-4 wildlife-card">
				<img src="{% static 'img/wildlife/common_toad.png' %}">
				<h3>Common Toad</h3>
				<p>Common Toads live longer than frogs (~40 years) and breed in spring in deep ponds. For much of the year they feed on dry land in woodland, gardens, and tussocky grassland. They are olive brown in colour, have warty skin and migrate to breeding grounds in early spring.</p>
				<a class="deep-link" href="https://www.wildlifetrusts.org/wildlife-explorer/amphibians/common-frog">The Wildlife Trust ></a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 wildlife-card">
				<img src="{% static 'img/wildlife/smooth_newt.png' %}">
				<h3>Smooth Newt</h3>
				<p>Smooth or Common Newts can reach 11cm in length and grey/green in colour with an orange belly and black spots. They breed in spring and feed on invertebrates in hedgerows and woodland.  They hibernate underground often in old walls and tree roots.</p>
				<a class="deep-link" href="http://www.wildlifetrusts.org/species/smooth-newt">The Wildlife Trust ></a>
			</div>
			<div class="col-md-4 wildlife-card">
				<img src="{% static 'img/wildlife/great_crested_newt.png' %}">
				<h3>Great Crested Newt</h3>
				<cite>Attribution - H. Crisp</cite>
				<p>The Great Crested Newt is black with an orange underside and can live up to 15 years. They breed in spring but spend much time on land feeding on invertebrates. The British populations of this rare amphibian are are protected as they are internationally important.</p>
				<a class="deep-link" href="http://www.wildlifetrusts.org/species/great-crested-newt">The Wildlife Trust ></a>
			</div>
		</div>
	</div>
</section>
<section class="fish" id="fish">
	<div class="container">
		<h2>Fish</h2>
		
		<div class="row">
			<div class="col-md-4 wildlife-card">
				<img src="{% static 'img/wildlife/three_spined_stickleback.png' %}">
				<cite>Attribution - GerardM/Ron Offermans</cite>
				<h3>Three Spined Stickleback</h3>
				<p>Three spined sticklebacks can reach a length of 50 mm. and are very common all along the whole brook with shoals seen throughout the year. Midge larvae and chironomids are the main food sources. Breeding starts in April when the brightly coloured males become very territorial.</p>
				<a class="deep-link" href="http://www.wildlifetrusts.org/species/three-spined-stickleback">The Wildlife Trust ></a>
			</div>
			<div class="col-md-4 wildlife-card">
				<img src="{% static 'img/wildlife/ten_spined_stickleback.png' %}">
				<cite>Attribution - Piet Spaans</cite>
				<h3>Ten spined Stickleback</h3>
				<p>Ten spined sticklebacks are less common and more secretive than the three spined variety and paradoxically can have between eight and twelve spines. This species is occasionally seen along the whole length of the brook. Ten spined sticklebacks are up to 50mm long, but can occasionally grow larger.</p>
				<a class="deep-link" href="http://britishwildlife.wikia.com/wiki/10_-Spined_Stickleback">Read more ></a>
			</div>
			<div class="col-md-4 wildlife-card">
				<img src="{% static 'img/wildlife/millers_thumb.png' %}">
				<cite> Attribution - Woluher</cite>
				<h3>Millers Thumb</h3>
				<p>Also known as the Bullhead, Millers Thumb are found in the middle to upper reaches of the water course. The colouration varies greatly and matches the surroundings. The maximum size is 60 to 80 mm. They eat a wide range of food including insects and other invertebrates.</p>
				<a class="deep-link" href="https://www.wildlifetrusts.org/wildlife-explorer/freshwater-fish/bullhead">The Wildlife Trust ></a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 wildlife-card">
				<img src="{% static 'img/wildlife/minnow.png' %}">
				<h3>Minnow</h3>
				<p>Minnows are  found worldwide in a variety of forms.  They are often found in streams like Hobson’s Brook, but are far less common than the three spined stickleback and can reach 80mm in length. The young feed on algae and plankton, older fish eat insects and snails and even small fish.</p>
				<a class="deep-link" href="http://www.wildlifetrusts.org/species/minnow">The Wildlife Trust ></a>
			</div>
			<div class="col-md-4 wildlife-card">
				<img src="{% static 'img/wildlife/stone_loach.png' %}">
				<cite>Attribution - Michael Manas</cite>
				<h3>Stone Loach</h3>
				<p>The Stone Loach is the largest of the fish commonly found in the brook reaching a maximum length of 140 mm. They are nocturnal and solitary, living in areas of sand or gravel, feeding on mayfly larvae and small invertebrates often at the bottom of the stream. Stone Loaches use the barbels near the mouth to detect their food.</p>
				<a class="deep-link" href="https://www.wildlifetrusts.org/wildlife-explorer/freshwater-fish/stone-loach">The Wildlife Trust ></a>
			</div>
		</div>
	</div>
</section>
<section class="invertebrates" id="invertebrates">
	<div class="container">
		<h2>Invertebrates</h2>
	
		<div class="row">
			<div class="col-md-4 wildlife-card">
				<img src="{% static 'img/wildlife/water_boatman.png' %}">
				<cite>Attribution - Holger Grotchi</cite>
				<h3>Waterboatman</h3>
				<p>The Greater Waterboatman (Notonecta) swims upside down and is a voracious predator with piercing mouthparts</p>
				<a class="deep-link" href="https://www.wildlifetrusts.org/wildlife-explorer/freshwater-fish/stone-loach">The Wildlife Trust ></a>
			</div>
			<div class="col-md-4 wildlife-card">
				<img src="{% static 'img/wildlife/great_diving_beetle.png' %}">
				<cite>Atrribution - Arthur Evanherk</cite>
				<h3>Great Diving Beetle</h3>
				<p>The Great Diving beetle (Dytiscus) is a predator of small fish and other invertebrates</p>
				<a class="deep-link" href="http://www.wildlifetrusts.org/species/great-diving-beetle">The Wildlife Trust ></a>
			</div>
			<div class="col-md-4 wildlife-card">
				<img src="{% static 'img/wildlife/mayfly.png' %}">
				<cite>Attribution - Richard Bartz</cite>
				<h3>Mayfly</h3>
				<p>Adults of the Mayfly (eg. Baetis) are often seen flying above the brook in summer.</p>
				<a class="deep-link" href="http://www.wildlifetrusts.org/species/mayfly">The Wildlife Trust ></a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 wildlife-card">
				<img src="{% static 'img/wildlife/ramshorn_snail.png' %}">
				<h3>The Ramshorn Snail</h3>
				<cite>Attribution - Catxx</cite>
				<p>The Ramshorn snail (eg. Planorbis) is often seen grazing algae from aquatic plants at the water’s edge.</p>
				<a class="deep-link" href="www.molluscs.at/gastropoda/index.html?/gastropoda/freshwater/plannorbidae.html">Read more ></a>
			</div>
			<div class="col-md-4 wildlife-card">
				<img src="{% static 'img/wildlife/pond_skater.png' %}">
				<cite>Attribution - Bruce J. Martin</cite>
				<h3>The Pondskater</h3>
				<p>The Pond Skater (Gerris) forages for food on the water surface.</p>
				<a class="deep-link" href="http://www.wildlifetrusts.org/species/pond-skater">The Wildlife Trust ></a>
			</div>
		</div>
	</div>
</section>
<section class="plants" id="plants">
	<div class="container">
		<h2>Plants</h2>
		
		<div class="row">
			<div class="col-md-4 wildlife-card">
				<img src="{% static 'img/wildlife/water_violet.png' %}">
				<cite>Attribution - Oliver Pritchard</cite>
				<h3>Water Violet</h3>
				<p>The Water Violet (Hottonia palustris) is an aquatic relative of the Primrose, grows in still or slow moving shallow water, spreads by stems rooting to form large patches. The Conduit is notable for its population of Water Violet.</p>
				<a class="deep-link" href="https://www.rhs.org.uk/plants/details?plantid=977">Read more ></a>
			</div>
			<div class="col-md-4 wildlife-card">
				<img src="{% static 'img/wildlife/great_hairy_willowherb.png' %}">
				<cite>Attribution - Jon Peli Oleaga Oiabama</cite>
				<h3>Great Hairy Willowherb</h3>
				<p>Great Hairy Willowherb (Epilobium hirsutum) grows in dense patches on the Conduit’s banks, spreading in the stream by rhizomes but further afield by wind-borne seeds.</p>
				<a class="deep-link" href="www.rhs.org.uk/plants/6475/Epilobium-hirsutum/Details">Read more ></a>
			</div>
			<div class="col-md-4 wildlife-card">
				<img src="{% static 'img/wildlife/purple_loosestrife.png' %}">
				<cite>Attribution - Garten Akademie</cite>
				<h3>Purple Loosestrife</h3>
				<p>Purple Loosestrife (Lythrum salicaria) grows on the banks of the Conduit. It produces large amounts of seed and spreads rapidly; it was introduced into N America where it has become an invasive weed.</p>
				<a class="deep-link" href="https://www.rhs.org.uk/Plants/10645/Lythrum-salicaria/Details">Read more ></a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 wildlife-card">
				<img src="{% static 'img/wildlife/yellow_loosestrife.png' %}">
				<cite>Attribution - Wild Boar</cite>
				<h3>Yellow Loosestrife</h3>
				<p>Yellow Loosestrife (Lysimachia vulgaris) is another relative of the Primrose spreading by rhizomes and runners in the water’s edge and by seed.  Its flowers produce pollen and oil rather than nectar attracting flies and bees as pollinators.</p>
				<a class="deep-link" href="https://www.rhs.org.uk/Plants/10637/Lysimachia-vulgaris/Details">Read more ></a>
			</div>
			<div class="col-md-4 wildlife-card">
				<img src="{% static 'img/wildlife/pendulous_sedge.png' %}">
				<cite>Attribution - Cillas</cite>
				<h3>Pendulous Sedge (Carex pendula)</h3>
				<p>This forms dense tussocks on the bank; a plant of damp woodland it can cope with shade. The flowers are in separate male and female dangly spikes.</p>
				<a class="deep-link" href="https://www.rhs.org.uk/advice/profile?PID=992">Read more ></a>
			</div>
			<div class="col-md-4 wildlife-card">
				<img src="{% static 'img/wildlife/yellow_flag.png' %}">
				<cite>Attribution - Jorg Hempel</cite>
				<h3>Yellow Flag (Iris pseudacorus)</h3>
				<p>A yellow flowered bumble-bee pollinated wetland Iris. The leaves are toxic so livestock tend not to eat it.</p>
				<a class="deep-link" href="https://www.rhs.org.uk/Plants/9334/i-Iris-pseudacorus-i/Details">Read more ></a>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4 wildlife-card">
				<img src="{% static 'img/wildlife/common_reed.png' %}">
				<cite>Attribution - Jeff Delonge</cite>
				<h3>Common Reed (Phragmites australis)</h3>
				<p>Common Reed grows both on the Conduit bank and in the water. This is the reed used in thatching.</p>
				<a class="deep-link" href="https://www.rhs.org.uk/plants/details?plantid=1443">Read more ></a>
			</div>
			<div class="col-md-4 wildlife-card">
				<img src="{% static 'img/wildlife/water_starwart.png' %}">
				<cite>Attribution - Jan Prancl</cite>
				<h3>Water Starwort (Callitriche sp)</h3>
				<p>Water Starwort roots in the mud of the Conduit, its shoots forming floating starry rosettes. There are a number of species which are difficult to tell apart.</p>
				<a class="deep-link" href="https://www.rhs.org.uk/Plants/121173/i-Callitriche-stagnalis-i/Details">Read more ></a>
			</div>
			<div class="col-md-4 wildlife-card">
				<img src="{% static 'img/wildlife/gypsywort.png' %}">
				<cite>Attribution - H Zell</cite>
				<h3>Gypsywort (Lycopus europaeus)</h3>
				<p>Gypsywort grows by the conduit low down near the water.</p>
				<a class="deep-link" href="https://www.rhs.org.uk/Plants/10613/i-Lycopus-europaeus-i/Details">Read more ></a>
			</div>
		</div>
	</div>
</section>
{% endblock %}